body { background-color:#ececec; font-family: 'Lato', sans-serif; }
h1, h2, h3, h4, h5, p { font-family: 'Lato', sans-serif; }
h2 { font-size:50px;}
h2, h3, h4 { font-weight:normal; }

p, h2 { color:#fff; }

.header { margin: 0; position: fixed; top: 0px; width: 90%; height: 58px; padding: 0 80px; box-shadow:1px 1px 1px #000; 
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */}
.header .home-logo { float:right; margin-top:10px;  }
.home-logo { background:url(/img/logo.png); display:block; height: 39px; width: 45px; }

.items .popover-content, .items .popover-title { background-color:#000; border:transparent; outline:none; padding:10px; border-radius:0px;}
.items .pop.popover { border:none !important; box-shadow:0px #000;}
.items .btn-ktchn { padding:3px 10px;}
.items li.top { height:50px; background:transparent !important; }
.items input { background: rgba(255, 255, 255, 0.61); height: 23px; border: 1px solid rgba(255, 255, 255, 0.38); }
.home-wrapper { background:url(/img/bg.png) 0 0 no-repeat; background-size:cover; background-position: left top;  height:100%; width:100%; display:block;}
.myktchn { background:url(/img/bg2.png) 0 0 no-repeat; padding-bottom:25%; background-size:cover; background-position: left top;  height:100%; width:100%; display:block;}
.myktchn .tagline { margin:150px auto 50px; }
.tagline { width:87%; padding:30px 100px; background:rgba(0, 0, 0, 0.68); margin:250px auto; text-align:center;}
.tagline h2 { margin:30px auto;}
.tagline .btn-ktchn { margin-left:30%; }
.btn-ktchn { cursor:pointer; border:1px solid rgba(0, 0, 0, 0.26); background-color:#fff; padding:15px; font-family: 'Lato', sans-serif; font-size:15px; color:#000;}
.boards { margin: 10px auto; background: rgba(255, 255, 255, 0.46); height: auto; padding: 50px 30px; display: block; float: left; width:96%; }
.stats { height:400px; }
.stats li { line-height:30px; height:220px; background: rgba(255, 255, 255, 0.5); padding: 20px; box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.26); }
.stats li p { color:#000;}
.items li { margin:12px 30px; background:solid rgba(0, 0, 0, 0.26); height: auto; padding: 0; background: transparent; cursor:pointer; 
 -moz-transition: all .5s linear;
     -webkit-transition: all .5s linear;
     transition: all .5s linear;}
ul.recipes { text-align: right; }
.recipes li a { color:#fff; font-size: 20px; line-height: 37px; }
.recipes li a:hover { opacity:0.9; background:#000;}
.items li.expired { background:rgba(255, 0, 0, 0.26) !important; }
.items li.check { background:rgba(214, 255, 0, 0.26) !important; }
.items li:hover { opacity:0.7;}
.myktchn .boards li { background:rgba(0, 0, 0, 0.6); color:#fff; font-family: 'Lato', sans-serif; padding: 20px 5px; }

.footer { position:fixed; bottom:0; text-align: center; margin:0 auto; display:block; width:100%; background:#fff; }
.footer small { text-align: center !important; margin:0 auto; }

.nav li a { color: #000; margin-top: 20px; text-transform: uppercase; font-size: 11px; }
.signup, .signin { background:rgba(0, 0, 0, 0.26); padding:50px 0;}