<div class="wrapper row-fluid home-wrapper">
	<div class="tagline2 ninja-fade-in">
		<h2>About ktchn</h2>
	</div>
	<div class="tagline2 ninja-fade-in about">
		<p>ktchn is built on nodejs using angularjs, html5 and css3.</p>
		<p>ktchn is a one of a kind application that allows you to manage what's in your entire kitchen (helping you restock), and you can even generate recipes based on those items with ease.</p>
		<p>Tech Stack:</p>
			<ul>
				<li>nodejs
				<li>angular
				<li>html5
				<li>css3
				<li>mongodb
				<li>love
			</ul>
		<p>API Stack:</p>
			<ul>
				<li>FB
				<li>TW
				<li>Pinterest
				<li>Yelp
			</ul>
	</div>
</div>
