<div class="wrapper row-fluid home-wrapper">
	<div class="tagline">
		<h2>board page</h2>
	</div>
	<div class="row-fluid">
			<ul class="inline stats centered">
				<li class="span4">
					<h1>Fridge</h1><br/>
					<ul class="items">
						<li>fridgeitem1
					<ul>
				</li>
				<li class="span4">
					<h1>Freezer</h1><br/>
					<ul class="items">
						<li>freezeritem1</li>
					<ul>
				</li>
				<li class="span4">
					<h1>Pantry</h1><br/>
					<ul class="items">
						<li>pantryitem1</li>
					<ul>
				</li>
			</ul>
		</div>
</div>
