<div class="wrapper row-fluid myktchn">
	<div class="tagline">
		<h2>my ktchn</h2>
	</div>
	<div class="row-fluid">
			<ul class="inline centered boards">
				<li class="span3" ng-repeat="board in state.boards">
					<h1>{{ board.name }}</h1><br />
					<p>Add items to your {{ board.name | lowercase }}.</p>
					<ul class="items">
						<li class="top"><input type="text" class="span8" ng-model="board.newitem" /> <a href="#" class="btn-ktchn span3 first-span pull-right" prevent-default="click" ng-click="addItem(board)">add</a></li>
						<li ng-repeat="item in board.items">{{ item.name }}</li>
					</ul>
				</li>
				<!-- <li class="span3">
					<h1>Freezer</h1><br/>
					<p>Add items to your freezer</p>
					<ul class="items">
						<li class="top"><input type="text" class="span8"><a href="#" class="btn-ktchn span3 first-span pull-right">add</a></li>
						<li>freezeritem1</li>
					</ul>
				</li>
				<li class="span3">
					<h1>Pantry</h1><br/>
					<p>Add items to your pantry</p>
					<ul class="items">
						<li class="top"><input type="text" class="span8"><a href="#" class="btn-ktchn span3 first-span pull-right">add</a></li>
						<li>pantryitem1</li>
					</ul>
				</li>
				<li class="span3">
					<h1>Groceries</h1><br/>
					<p>Add items to your grocery list</p>
					<ul class="items">
						<li class="top"><input type="text" class="span8"><a href="#" class="btn-ktchn span3 first-span pull-right">add</a></li>
						<li>pantryitem1</li>
					</ul>
				</li> -->
			</ul>
		</div>
</div>
