<div class="wrapper row-fluid home-wrapper">
	<div class="tagline2 ninja-fade-in">
		<h2>Eat out or take out <a href="#/board" class="btn-ktchn giant inline"><i class="icon-undo"></i> {{ state.user.name }}'s ktchn</a></h2>
	</div>
	<div class="tagline2 ninja-fade-in about pull-left">
		<ul class="eatout">
			<h3>{{ state.user.name }}'s go to places</h3>
				<li>
					<a target="_blank" href="http://www.yelp.com/biz/metropolitan-museum-of-art-new-york">
					<p>Butcher Block <em>Sunnyside</em></p>
				</a>
				<span class="stars clear">
						<h3>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						</h3>
					</span>
				<span class="pull-right">
					<a href="#" class="food grub"></a>
				</span>
				</li>
				<li>
					<a target="_blank" href="http://www.yelp.com/biz/krolewskie-jadlo-brooklyn">
					<p>Krolewskie Jadlo <em>Greenpoint</em></p>
				</a>
				<span class="stars clear">
						<h3>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star-half-full"></i>
						</h3>
					</span>
					<span class="pull-right">
					<a href="#" class="food grub"></a>
					<a href="#" class="food seamless"></a>
				</span>
				</li>
			</ul>
		<ul class="eatout">
			<h3>Showing results near <i class="icon-globe"></i>11101 
				<button data-toggle="collapse" class="btn-ktchn-tiny" data-target="#filters">change</button></h3>
				<div id="filters" class="filterbox collapse">
					<input class="span2" type="text" placeholder="11101">
					<select>
						<option>Sort by</option>
						<option>top rated</option>
						<option>most reviews</option>
						<option>proximity</option>
					</select>
					<select>
						<option>Sort by Cusine</option>
						<option>Bagels
						<option>Bakeries</option>
						<option>Beer, Wine & Spirits</option>
						<option>Breweries</option>
						<option>Bubble Tea</option>
						<option>Butcher</option>
						<option>CSA</option>
						<option>Coffee & Tea</option>
						<option>Convenience Stores</option>
						<option>Desserts</option>
						<option>Do-It-Yourself Food</option>
						<option>Donuts</option>
						<option>Farmers Market</option>
						<option>Food Delivery Services</option>
						<option>Food Trucks</option>
						<option>Gelato</option>
						<option>Grocery</option>
						<option>Ice Cream & Frozen Yogurt</option>
						<option>Internet Cafes</option>
						<option>Juice Bars & Smoothies</option>
						<option>Pretzels</option>
						<option>Shaved Ice</option>
						<option>Specialty Food</option>
						<option>Street Vendors</option>
						<option>Tea Rooms</option>
						<option>Wineries</option>
					</select>
				</div>
				<li>
					<a target="_blank" href="http://www.yelp.com/biz/metropolitan-museum-of-art-new-york">
					<p>Butcher Block <em>Sunnyside</em></p>
				</a>
				<span class="stars clear">
						<h3>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						</h3>
					</span>
				<span class="pull-right">
					<a href="#" class="food grub"></a>
					<a href="#" class="food seamless"></a>
				</span>
				</li>
				<li>
					<a target="_blank" href="http://www.yelp.com/biz/krolewskie-jadlo-brooklyn">
					<p>Krolewskie Jadlo <em>Greenpoint</em></p>
				</a>
				<span class="stars clear">
						<h3>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star-half-full"></i>
						</h3>
					</span>
					<span class="pull-right">
					<a href="#" class="food seamless"></a>
				</span>
				</li>
				<li>
					<a target="_blank" href="http://www.yelp.com/biz/taco-rey-de-oro-woodside">
					<p>Taco Rey de Oro <em>Woodside</em></p>
				</a>
				<span class="stars clear">
						<h3>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star-empty"></i>
						</h3>
					</span>
					<span class="pull-right">
					<a href="#" class="food grub"></a>
				</span>
				</li>
				<li>
					<a target="_blank" href="http://www.yelp.com/biz/levain-bakery-new-york">
					<p>Levain Bakery <em>Upper West Side</em></p>
				</a>
				<span class="stars clear">
						<h3>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star-empty"></i>
						<i class="icon-star-empty"></i>
						<i class="icon-star-empty"></i>
						</h3>
					</span>
					<span class="pull-right">
					<a href="#" class="food grub"></a>
					<a href="#" class="food seamless"></a>
				</span>
				</li>
				<li>
					<a target="_blank" href="http://www.yelp.com/biz/graham-avenue-meats-and-deli-brooklyn">
					<p>Graham Avenue Meats And Deli <em>Williamsburg - North Side</em></p>
				</a>
				<span class="stars clear">
						<h3>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star-half-full"></i>
						</h3>
					</span>
					<span class="pull-right">
					<a href="#" class="food grub"></a>
				</span>
				</li>
				<li>
					<a target="_blank" href="http://www.yelp.com/biz/gramercy-tavern-new-york">
					<p>Gramercy Tavern <em>Flatiron</em></p>
				</a>
				<span class="stars clear">
						<h3>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star-empty"></i>
						<i class="icon-star-empty"></i>
						</h3>
					</span>
					<span class="pull-right">
					<a href="#" class="food grub"></a>
					<a href="#" class="food seamless"></a>
				</span>
				</li>
			</ul>
	</div>
</div>
