<div class="wrapper row-fluid home-wrapper">
	<div class="tagline2 ninja-fade-in">
		<h2>Recipes from my kitchen <a href="#/board" class="btn-ktchn giant inline"><i class="icon-undo"></i> back to board</a></h2>
	</div>
	<div class="tagline2 ninja-fade-in about">
		<ul class="recipes inline">
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/3.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Good Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/2.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Grilled America</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/1.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Potluck Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>

				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/3.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Good Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/2.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Grilled America</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/1.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Potluck Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/3.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Good Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/2.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Grilled America</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/1.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Potluck Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/3.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Good Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/2.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Grilled America</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/1.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Potluck Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/3.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Good Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/2.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Grilled America</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/1.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Potluck Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/3.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Good Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/2.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Grilled America</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/1.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Potluck Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/3.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Good Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/2.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Grilled America</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/1.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Potluck Chicken</p></a>
				</li>
				<li>
					<a href="#"><img src="/img/4.jpg" height="100px" width="100px" class="img-polaroid">
					<p>Chicken Parm</p></a>
				</li>
			</ul>
	</div>
</div>
